Source: vyatta-system-timing
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 9),
 dh-python,
 dh-vci,
 dh-yang,
Standards-Version: 3.9.8

Package: vyatta-system-timing
Architecture: any
Depends:
    python3,
    python3-vci,
    python3-ufispace-bsp-utils (>> 3.0.4-0vyatta3),
    ${shlibs:Depends}
Description: vci component for vyatta system timing configuration

Package: vyatta-system-timing-v1-yang
Architecture: all
Depends: vyatta-system-timing (>= ${binary:Version}), ${yang:Depends}
Section: admin
Priority: optional
Description: YANG file for vyatta system timing configuration
 The YANG definition for the vyatta system timing configuration